<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Main Title From Home Page {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui/jquery-ui.min.css' %}" />
    <script src="{% static 'bootstrap\js\bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </head>
  <body>
    {% include './partials/header.html' %} 
    {% block content %} {% endblock %} 
    {% block scripts %} {% endblock %}
    {% include './partials/footer.html' %}
  </body>
</html>
